/* reset css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(to right, royalblue, lightblue);
    font-family:Arial, Helvetica, sans-serif;
}


.card{
    width: 320px;
    height: 400px;
    background-color: rgb(39, 45, 64);
    color: white;
    position: relative;
    margin: 120px auto;
    border-radius: 15px;
    padding: 40px 20px;
}
.card__like {
    font-size: 25px;
   position: absolute;
    top: 12px;
    left: 20px;
    cursor: pointer;
    z-index: 2;
    padding-top: 5px;
}
.card__cart {
    font-size: 25px;
    position: absolute;
    float: right;
    top: 12px;
    left: unset;
    right: 20px;
    cursor: pointer;
    z-index: 2;
    padding-top: 5px;
}

.card__img{
    width: 105%;
    transition: 0.5s;
}
.card__img img{
   width: 100%;
   height: 100%;
    object-fit: cover;
    
}


.card__title{
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    transition: 0.5s;
}
.card__price{
    font-size: 22px;
    font-weight: 600;
    color: #FF4040;
    text-align: center;
    margin-bottom: 20px;
    transition: 0.5s;
}

.card__size{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.card__color{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}


.card__size span{
    background-color: #FF4040;
    border-radius: 10%;
    padding: 1px 5px;
    margin: 0 5px;
    cursor: pointer;
    background-color: white;
    color: black;
}
.card__size span:hover{
    background-color: #FF4040;
    color: white;
    border: 1px solid black;
}

.card__color span{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
}
.card__color span:hover{
    border: 1px solid #FF4040;
    
}

.card__color--white{
    background: white;
}

.card__color--black{
    background: black;
}.card__color--grey{
    background: grey;
}
.card__color--aqua{
    background: aquamarine;
}

.card__action{
    display: flex;
    justify-content: space-evenly;
}
.card__action button{
    border: none;
    outline: none;
    background: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
    color: black;
    cursor: pointer;
    margin-top: 10px;  
}

.card__action button:hover{
    background-color: #FF4040 ;
    color: white;
}
.card:hover .card__img {
    transform: translateY(-100px) rotate(-20deg);
    padding-right: 30px;
 
}
.card:hover .card__title, .card:hover .card__price{
   transform: translate(0px, -50px);
}

.card__color, .card__action, .card__size{
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.card:hover .card__action, .card:hover .card__size, .card:hover .card__color{
    visibility: visible;
    transition-delay: 0.25s;
    opacity: 100;
    transform: translate(0px, -30px);
}


/* modal box*/
.modal{
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal.open{
    display: flex;
}

.modal__container{
   background-color: white;
   width: 800px;
   max-width: calc(100%  - 40px);
   min-height: 200px;
   position: relative;
   animation: modalFadeIn ease 0.5s;
   
   
    
}
/* header modal*/
.container__header{
    display: flex;
    background-color: #FF4040;
    height: 60px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    width: 100%; 
    
    
}



.container__close{
    right: 0;
    top: 0;
    position: absolute;
    font-size: 30px;
    color: white;
    padding-top: 15px;
    padding-right: 15px;
}
.container__close:hover{
    color: lightgray;
    cursor: pointer;
}



/*body modal*/
.container__body{
   display: flex;
   flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}
   
.container__body__items{
   margin-bottom: 10px;
   
   margin-top: 20px;
  
}
.container__label, .container__label i{
    display: flex;
    font-weight: 500;
    padding-right: 5px;
    padding-bottom: 5px;
    font-size: 22px;
}
.container__body input{
    width: 600px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 20px;
}
.container__body button{
    width: 600px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 22px;
    font-weight: 500;
    background-color: #fff;
    margin-top: 20px;
}

.container__body button:hover{
    background-color: #FF4040;
    color: #fff;
    cursor: pointer;
    box-shadow: 0px -10px 20px -10px lightgray;
    font-weight: 600;
    font-style: italic;
}
.container__body input:hover{
    box-shadow: 0px -10px 20px -10px lightgray;
}

/*footer modal*/

.infoot{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-style: italic;
    font-size: 17px;
    padding-bottom: 10px;
}
/* footer - information*/
footer{
    height: 100px;
    text-align: center;
    color: black;   
    line-height: 1.5;
}
footer i{
    font-size: 20px;
    font-weight: 600;
}
footer p{
    font-size: 16px;
    font-weight: 400;
}


@keyframes modalFadeIn{
    from{
        opacity: 0;
        transform: translateY(-120px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}